---
import Head from './Head.astro'
import '../styles/globals.css'
import Background from '../components/Background.astro'
import { getLangFromUrl } from '../i18n/utils'
import { Content } from '@/components/Content'

const lang = getLangFromUrl(Astro.url)
---

<html lang={lang} class="dark">
  <Head />
  <body class="max-sm:h-dvh min-h-screen relative overflow-visible">
    <Background />
    <Content lang={lang} client:only>
      <slot />
    </Content>
  </body>
</html>
